{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<!-- 看板娘1号相关代码引入 -->
{{ with .Site.Params.page.library }}
  {{ if .js.live2d_min1 }}
    <div class="live2d_container">
        <div id="sakana-widget"></div>
    </div>
    <script src="{{ .js.live2d_min1 | relURL }}"></script>
  {{ end }}
{{ end }}
<!-- 看板娘1号相关代码引入end -->

<!-- 看板娘2号相关代码引入 -->
<!-- {{ with .Site.Params.page.library }}
  {{ if .js.live2d_min2 }}
    <script src="{{ .js.live2d_min2 | relURL }}"></script>
  {{ end }}
{{ end }} -->
<!-- 看板娘2号相关代码引入end -->

<!-- 樱花飘落效果相关代码引入 -->
{{ with .Site.Params.page.library }}
    {{ if .js.background_effects }}
    <script src="{{ .js.background_effects | relURL }}"></script>
    {{ end }}
{{ end }}
<!-- 樱花飘落效果相关代码引入 -->

<!-- 鼠标点击效果相关代码引入 -->
{{ with .Site.Params.page.library }}
    {{ if .js.anime_min }}
        {{ if .js.fireworks }}
            <canvas class="fireworks"></canvas>
            <script src="{{ .js.anime_min | relURL }}"></script>
            <script src="{{ .js.fireworks | relURL }}"></script>
            <script type="text/javascript">
                fireworks.setCanvasSize(); 
            </script>
        {{ end }}
    {{ end }}
{{ end }}
<!-- 鼠标点击效果相关代码引入end -->

<!-- 鼠标点击图片放大相关代码引入 -->
{{ with .Site.Params.page.library }}
    {{ if .js.medium_zoom }}
        <script src="{{ .js.medium_zoom | relURL }}"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                mediumZoom('[data-zoomable]', { background: "transparent" });
            });
        </script>
    {{ end }}
{{ end }}
<!-- 鼠标点击图片放大相关代码引入end -->